.App {
  text-align: center;
}

li {
  list-style: none;
}

.project-div {
  width: 80%;
  margin: 1.5rem auto;
  border-radius: 10px;
  padding: 2rem 0;
  background-position: center;
  background-size: cover;
}

.project-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-link {
  background: rgba(255, 255, 255, 0.623);
  padding: 2rem;
}
