.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.project-div {
  width: 90%;
  height: 75vh;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 24px;
  margin-bottom: 4rem;
}

.project-image {
  background-position: bottom;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.project-div h1 {
  background: rgba(255, 255, 255, 0.596);
  padding: 4rem;
  margin: 0;
  color: black;
}

.project-div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-div ul li {
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.116);
  border-radius: 3px;
  margin: 0.15rem 0.1rem;
}

video {
  margin: 1rem;
}

.project-container {
  width: 100vw;
  margin-top: 2rem;
}

#home-image {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 12px 24px;
  margin: 1rem;
}

h1,
#home-h3,
.start-button {
  font-family: "Open Sans", sans-serif;
  color: rgb(92, 92, 92);
  margin: 0;
}

h1 {
  font-size: 3rem;
}

#home-page-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button {
  margin: 1rem;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 12px 24px;
  font-size: 1rem;
  transition: all 0.2s;
}

.start-button:hover {
  box-shadow: rgb(255, 251, 35, 0.7) 0px 24px 24px;
  transform: scale(1.1);
}

.start-button:active {
  background: rgb(255, 251, 35);
  box-shadow: rgba(149, 157, 165, 0.15) 0px 12px 24px;
}

nav {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 20px;
  padding: 0.8rem 4rem;
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
}

nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  font-family: "Open Sans", sans-serif;
  color: rgb(92, 92, 92);
  background: rgba(255, 255, 255, 0);
  transition: all 0.4s;
}

li a {
  text-decoration: none;
  color: rgb(92, 92, 92);
  transition: all 0.4s;
}

nav ul li:hover {
  transform: scale(1.1);
  text-shadow: 2px 8px 6px rgb(255, 251, 35), 0px 5px 35px rgb(255, 251, 35);
}

nav ul li a:hover {
  color: rgb(58, 58, 58);
}

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: black !important;
  fill: black !important;
  stroke: black !important;
  transition: all 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  text-shadow: 2px 8px 6px rgb(255, 251, 35), 0px 5px 35px rgb(255, 251, 35) !important;
  transform: scale(1.2);
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
}
